out/
dist/
esm/
packages/language-support/src/generated-parser/*
jest.config.js
jest.config.cjs
rollup.config.js
index.html
packages/language-support/src/highlighting/semanticAnalysis.js
.eslintrc.js
vendor/*
turbowatch.ts
packages/vscode-extension/genTextMate.js