out
build
dist
esm
node_modules
generated-parser
generated
.vscode-test
*.DS_Store
*.interp
*.tokens
*.vsix
.turbo
*.antlr
*.jar
*.clinic
*.tsbuildinfo
*.npmrc
benchmarks.txt
vite.config.ts.timestamp*
.wdio-vscode-service.gradle
.run

## Gradle ##
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.intellijPlatform

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Javascript files
*.js
