.text-fuchsia-700 {
  color: #d946ef;
}
.text-orange-700 {
  color: #f6993f;
}
.text-slate-500 {
  color: #718096;
}
.text-violet-700 {
  color: #9561e2;
}
.text-lime-600 {
  color: #7ee085;
}
.text-blue-600 {
  color: #3490dc;
}
