.vizWrapper {
  padding: 10px;
}

.vizWrapper-content {
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  min-height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.vizWrapper-controls {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10;
}

.vizWrapper-controls.block {
  position: initial;
  padding: 2px;
}

.vizWrapper-graph {
  background-color: rgb(var(--theme-palette-neutral-bg-weak));
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.vizWrapper-table {
  overflow-y: scroll;
  flex: 1;
}

.vizWrapper table {
  border-collapse: collapse;
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.vizWrapper thead {
  position: sticky;
  top: 0;
  background-color: rgb(var(--theme-palette-neutral-bg-default));
}

.vizWrapper th:not(:first-child),
.vizWrapper td:not(:first-child) {
  padding: 10px;
  border-bottom: 1px solid rgb(var(--theme-palette-neutral-border-weak));
  text-align: left;
}

.vizWrapper th {
  font-weight: bold;
}

.vizWrapper td:first-child,
.vizWrapper th:first-child {
  color: rgb(var(--theme-palette-neutral-text-weakest));
  font-size: 8px;
  padding-left: 4px;
  border-bottom: 1px solid rgb(var(--theme-palette-neutral-border-weak));
  width: 6px;
}

.vizWrapper tr:hover {
  background-color: rgb(var(--theme-palette-neutral-bg-on-bg-weak));
}

.vizWrapper-table-cell {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  font-size: var(--vscode-editor-font-size);
}
