body {
  background-color: var(--vscode-panelSectionHeader-background);
  font-size: var(--vscode-editor-font-size);
}

.collapsible:not(:last-child) {
  border-bottom: 1px solid var(--vscode-editor-background);
  background-color: transparent;
}

.collapsible-header {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 0 12px;
  border: 1px solid transparent;
}

.collapsible-header:hover {
  background-color: var(--vscode-panelSectionHeader-background);
}

.collapsible-header[data-open='true'] {
  background-color: var(--vscode-list-activeSelectionBackground);
  color: var(--vscode-list-activeSelectionForeground);
  border: 1px solid var(--vscode-list-focusOutline);
}

.collapsible-icon {
  display: inline-block;
  color: var(--vscode-icon-foreground);
}

.collapsible-header[data-open='true'] .collapsible-icon {
  rotate: 90deg;
}

.collapsible-title {
  padding-left: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapsible-header[data-open='true'] .collapsible-title {
  white-space: normal;
}

.collapsible-content {
  padding: 4px 12px;
}
