on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  NODE_OPTIONS: '--max_old_space_size=8192'

jobs:
  archive-vscode-artifacts:
    name: Archives VSCode artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup antlr4
        uses: ./.github/actions/setup-antlr4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install dependencies with frozen lock file and generate parser
        run: npm ci

      - name: Build project
        env:
          NODE_OPTIONS: '--max_old_space_size=8192'
        run: npm run build

      - name: Generate VSCode plugin package
        run: |
          cd packages/vscode-extension
          npx vsce package --pre-release

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: vscode-extension
          path: packages/vscode-extension/*.vsix
          retention-days: 30
