on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies with frozen lock file
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Check there are no linting errors
        run: npm run lint

      - name: List files that have not been formatted properly
        run: |
          npm run format
          (git diff-index --name-status HEAD | grep ".*\.ts" && exit 1) || echo "\n\nAll Typescript files are correctly formatted"

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install antlr4 tool
        run: pip install antlr4-tools

      - name: Install dependencies and generate parser
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Run tests
        run: npm test
