name: Publish VSCode extension to Marketplace and OpenVSX

on:
  # Only allow this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NODE_OPTIONS: '--max_old_space_size=4096'

jobs:
  publish-vscode-extension:
    name: 'Publish VSCode extension to Marketplace and OpenVSX'
    environment: publish-vscode-extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Setup antlr4
        uses: ./.github/actions/setup-antlr4

      - name: Install dependencies with frozen lock file
        run: npm ci

      - name: Build all packages
        run: npm run build

      - name: Publish to VSCode Marketplace
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}:
        run: |
          cd packages/vscode-extension
          npx vsce package
          npx vsce publish
      
      - name: Publish to OpenVSX
        env:
          VSX_PAT: ${{ secrets.VSX_PAT }}: 
        run: npx ovsx publish -p $VSX_PAT

 