name: Publish react-codemirror package to npm

on:
  # Run the workflow on push only after the unit tests have passed
  workflow_run:
    workflows: ['Run Tests']
    branches: ['publishing']

env:
  NODE_OPTIONS: '--max_old_space_size=4096'

jobs:
  deploy:
    environment: publish-npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Setup antlr4
        uses: ./.github/actions/setup-antlr4

      - name: Install dependencies with frozen lock file and generate parser
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: npm run release
        # env:
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
